.jumbotron {
    background: #00224b !important;
    height: 200px;
    border-bottom-style: solid;
    border-bottom-color: darkred;
  }
  
  .jumbotron h1 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 3rem;
  }

 
  